<script>angular.module()
        .controller('inputCtrl', ['$scope', function ($scope) {
            $scope.user = {name: 'guest', last: 'visitor'};
        }]);

</script>

<div>
    <form name="myForm">
        <label>
            User name:
            <input type="text" name="userName" ng-model="user.name" required>
        </label>

        <div role="alert">
      <span class="error" ng-show="myForm.userName.$error.required">
       Required!</span>
        </div>
        <label>
            Last name:
            <input type="text" name="lastName" ng-model="user.last"
                   ng-minlength="3" ng-maxlength="10" required>
        </label>

        <div role="alert">
      <span class="error" ng-show="myForm.lastName.$error.minlength">
        Too short!</span>
      <span class="error" ng-show="myForm.lastName.$error.maxlength">
        Too long!</span>
            <span class="error" ng-show="myForm.lastName.$error.required">
                Required!</span>
        </div>
    </form>
    <hr>
    <ul>user = {{user}}
        <li>myForm.$valid = {{myForm.$valid}}</li>
        <li>myForm.userName.$valid = {{myForm.userName.$valid}}</li>
        <li>myForm.userName.$error = {{myForm.userName.$error}}</li>
        <li>myForm.lastName.$valid = {{myForm.lastName.$valid}}</li>
        <li>myForm.lastName.$error = {{myForm.lastName.$error}}</li>
        <li>myForm.$valid = {{myForm.$valid}}</li>
        <li>myForm.$error.required = {{!!myForm.$error.required}}</li>
        <li>myForm.$error.minlength = {{!!myForm.$error.minlength}}</li>
        <li>myForm.$error.maxlength = {{!!myForm.$error.maxlength}}</li>
    </ul>
</div>